@charset "UTF-8";

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
margin:0;
font-family:Arial;

/* imagem de fundo */
background:url("../img/robot.png") no-repeat center right;
background-size:cover;

color:white;
min-height:100%;
}

/* HEADER */

/* HEADER TRANSPARENTE */

header{
display:flex;
align-items:center;
justify-content:space-between;
padding:20px 40px;
border: 2px solid #131313;

/* transparência */
background-color: rgba(0, 0, 0, 0.5);
}

.logo img{
height: 40px;
width:auto;
}

/* MENU */

nav{
display:flex;
gap:15px;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:red;
}

nav span{
color:white;
}

/* BOTÕES */

.auth{
display:flex;
flex-direction:column;
gap:5px;
}

.auth button{
background:rgba(255,255,255,0.7);
border:none;
padding:5px 10px;
cursor:pointer;
}

/* MAIN */

main{
display:flex;
justify-content:space-between;
padding:80px 40px;

/* leve transparência */
background:rgba(0,0,0,0.5);
min-height:70vh;
}


/* TEXTO */

.conteudo{
max-width:500px;
}

.conteudo h1{
font-size:50px;
margin-bottom:20px;
}


.conteudo h3{
margin-bottom:15px;
}

.conteudo p{
line-height:1.5;
}



.updates{
width:250px;
height:250px;
background:none;
border: 1px solid #131313;
border-radius: 4%;
padding:10px;
}

.updates h3{
text-align:center;
}



/* FOOTER TRANSPARENTE */

footer{
padding: 10px 40px;
text-align: center;
border: 2px solid #131313;
/* transparente igual header */
background-color: rgba(0, 0, 0, 0.5);
}

/* TABLET */

@media (max-width: 900px){

main{
flex-direction:column;
align-items:center;
text-align:center;
}

.updates{
margin-top:30px;
}

nav{
margin-top:10px;
}

}


/* CELULAR */

@media (max-width: 600px){

header{
flex-direction:column;
gap:15px;
text-align:center;
}

nav{
flex-wrap:wrap;
justify-content:center;
}

.conteudo h1{
font-size:36px;
}

main{
padding:30px 20px;
}

.updates{
width:100%;
max-width:300px;
}

}