@charset "UTF-8";

html, body {
height:100%;
}

body{
margin:0;
font-family:Arial;
background:url("https://images.unsplash.com/photo-1518709268805-4e9042af9f23") center/cover fixed;
color:white;
overflow-x:hidden;
cursor:none;
display: flex;
flex-direction: column;
min-width: 100vh;
}


#spiderCursor{
position:fixed;
width:35px;
pointer-events:none;
z-index:9999;
}


header{
display:flex;
justify-content:space-between;
padding:20px 50px;
background:rgba(0,0,0,0.7);
backdrop-filter:blur(5px);
}


nav a{
margin:0 15px;
color:white;
text-decoration:none;
font-weight:bold;
cursor:pointer;
}

nav a:hover{
color:red;
}



.page{
display:none;
padding:80px;
animation:fade 0.8s;
}

.active{
display:block;
}



@keyframes fade{

from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}

}



.cards{
display:flex;
gap:20px;
margin-top:30px;
}

.card{
background:#111;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(255,0,0,0.3);
}



.mods-grid{
display:flex;
gap:20px;
margin-top:30px;
}

.mod-card{
background:#111;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(255,0,0,0.3);
}



button{
background:#500;
color:white;
border:none;
padding:10px 20px;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#900;
}

footer{
text-align:center;
padding:20px;
background:rgba(0,0,0,0.7);
backdrop-filter:blur(5px);
margin-top: auto;
}